* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}
:root {
  --navbarColor: rgb(0, 31, 95);
  --navbarLinkHover: rgb(0, 82, 175);
  --linkColor: rgb(255, 255, 255);
}

/* Estilo a todas las listas */
li {
  list-style: none;
  text-decoration: none;
}

/* ========== BARRA DE NAVEGACIÓN =========*/
.header {
  background-color: var(--navbarColor);
  min-width: 100%;
  width: 100%;
}
.header .menu_empresa {
  grid-area: header;
  padding: 0 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
  grid-gap: 20px;
  grid-template-areas: "logoEmpresa navbar dropdown";
}
.logoEmpresa {
  grid-area: logoEmpresa;
  align-items: center;
}
.navbar {
  grid-area: navbar;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown {
  grid-area: dropdown;
  margin-right: 50px;
}
.header .menu_empresa .navbar ul {
  text-align: right;
  padding: 0;
  margin: 0;
  height: 100%;
}
.header .menu_empresa .navbar ul li {
  display: inline-block;
}
.header .menu_empresa .navbar ul li a {
  color: var(--linkColor);
  text-decoration: none;
  margin: 0px 20px 0px 20px;
  padding: 12px;
}
.header .menu_empresa .navbar ul li:hover {
  transition: ease-in 0.5s;
  box-shadow: inset 10px 0px 0px 0px var(--linkColor);
}
.drop_menu {
  text-align: left;
  width: 200px;
}

/* ========== FIN BARRA DE NAVEGACIÓN =========*/


/* === Estilos generales a los contenedores principales de cada sección=== */
.container-empresa, .contenedor-vacantes,.container-registro-empresa {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
/* ======== INICIA ESTILOS INDEX DE LA PÁGINA EMPRESA ============*/

.container-empresa .home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.estiloempr {
    text-align: center;
  }
  
  .img-perfil {
    display: block;
  }
  
  
  .img-logo #titulo-foto:hover,
  #imglogo:hover {
    transition: ease-in-out 0.3s;
    opacity: 1;
  }
  .img-logo #imagen {
    display: none;
  }
  .estiloempr {
    width: 900px;
    height: 200px;
    border: 2px solid #8a8989;
    text-align: center;
    padding: 40px 0 20px 0;
  }
  
  .reseña-empresa {
    padding: 10px 0 2px 0;
    text-decoration: underline;
  }
  
  .estados {
    justify-content: end;
  }
  
  .comple {
    padding: 1px 0 0px 10px;
    background-color: rgb(144, 148, 148);
    color: rgb(247, 242, 242);
  }
  
  .container-perfil-empresa {
    display: block;
    justify-content: center;
    background-color: #f1eeee;
    box-shadow: 0 0 0 2px gray;
    text-align: center;
    width: 90%;
  
    margin-top: 10px;
  
    margin-bottom: 30px;
  }
  
  /* colores */
  .rfc,.nombre-empresa, .web-empresa, 
  .redes-empresa  {
    color: black;
    justify-content: center;
    text-align: center;
  }
  
  .text-black {
    margin: auto;
  }
  .button-empresa {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 5px;
  }
  .boton-empre:active {
    background-color: rgb(0, 110, 255);
  }
  .general-empresa {
    text-align: center;
    background-color: rgb(17, 47, 148);
    color: rgb(247, 242, 242);
  }
  
  .logo {
    width: 170px;
    height: 170px;
    border-radius: 150px;
    border: 10px solid rgb(245, 71, 71);
  }
 
  @import url("https://fonts.googleapis.com/css?family=Roboto:500");
  .btn-bootstrap {
    padding: 10px 25px;
    border-radius: 0.25rem;
    background-color: #76993e;
    color: #fff;
    transition: background-color 0.15s ease-in-out;
    text-align: center;
  }
  
  .btn-bootstrap:hover,
  .btn-bootstrap:focus {
    background-color: #455e2d;
  }
  
  .btn-bootstrap:active {
    background-color: #cfdff0;
  }
  .boton-visualizar {
    text-align: center;
  }
  
  .datos-empresa {
    text-align: center;
  }
  
  .topp {
    background-color: darkblue;
    text-align: center;
    color: white;
  }

  .container {
    display: grid;
    justify-content: space-between;
  }
  

/** ===== FIN A ESTILOS DE LA PAGINA PRINCIPAL DE LA EMPRESA */


/** === INICIA ESTILOS A LA PÁGINA DE BUSQUEDA DE CVS ======== */
.btnVerCVS {
    width: 200px;
    height: 35px;
    background-color:var(--navbarLinkHover);
    color: var(--linkColor);
    border: none;
}
.btnVerCVS:hover{
    background: rgba(0,0,0,.3);
    box-shadow: inset 200px 0 0 0 rgb(40, 108, 255);
    border: 2px solid rgb(8, 2, 2);
    transition: ease-in-out 1s all;
}
.informacionCVS {
    width: 80%;
    margin: 0 auto;
}
.informacionCVS .card .InfoEmpresa {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.informacionCVS .card .card-body a {
    float: right;
}



/* =========== Aqui comienzan los estilos de Mis Vacantes ===========*/





/* =========== Aqui Terminan los estilos de Mis Vacantes ===========*/

/* =========== Aqui inicia estilos de empresa ===========*/
.confidencia{
  text-align: center;
  margin: initial;
}
.titulo-vacantes{
  text-align: center;

}

.tipo-sexo{
  text-align: center;
  }

  .exp{
    text-align: center;

  }

/* =========== Aqui termina estilos de empresa ===========*/